#artikler{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .artikel{
        background-color: rgb(130, 136, 145);
        margin:10px 10px 0 0;
        :first-child{
            background-color: aliceblue;
            padding: 100px 0 1% 1%;
            display: flex;
            justify-content: flex-end;
            align-content: flex-end;
            flex-direction: column-reverse;
            h1{
                margin-top: 0;
                text-align: left;
            }
        }
    }
}
