.artiklen{

    div{
        margin: 0 auto;
        width: 60%;
        a {
            color: white;
            font-size: 200%;
        }
    }
    #top{
        size: cover;
        font-size: 80%;
        color: black;
        font-size: 80%;
        display: flex;
        justify-content: flex-end;
        align-content: flex-end;
        flex-direction: column;
        padding: 15% 0 0% 0;
        margin-bottom: 10px;
        height: 300px;
    }
    #content{
        font-size: 1.4em;
        text-align: justify;
        .Debatindlæg{
            color: red;
            font-size: 80%;
        }
        .Artikel{
            color: purple;
            font-size: 80%;
        }
        .Kronik{
            color: blue;
            font-size: 80%;
        }
        .Leder{
            color: green;
            font-size: 80%;
        }

        h1{
            font-size: 25px;
        }

        h2{
            font-size: 15px;
        }

        p{
            text-align: justify;
        }

        #date {

        }

        .quote{
            i{
                width: 100%;
                font-size: large;
            }

            font-size: 20px;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            padding: 11px 0%;
            line-height: 2;
            text-align: center;
            display: block;
            width: 70%;
            margin: 0 auto;
        }
    }
}

#share{
    text-align: center;
    margin: 40px 0;

    h2{
        margin: 0 auto;
        margin-bottom: 20px;
        padding-bottom: 10px; 
        width: 400px;
        border-bottom: 1px solid #fff; 
    }

    ul{
        margin: 0 auto;
        display: inline-block;
        li{
            float: left;
            list-style: none;
            margin-left: 40px;
            border: 1px solid #fff;
            padding: 10px;

            a{
                color: #fff;
                i{
                    font-size: 30px;
                    width: 30px;
                }
            }

            :hover{
                
            }
        }

        :first-child{
            margin-left: 0;
        }

        li:hover{
            background-color: #fff;
            font-size: 80%;
            a{
                color: #212a36;
            }
        }

    }
}

@media only screen and (max-width: 850px) {
    section{
        padding: 0 10px;
    }
    .artiklen{
        div{
            width: 100%;
        }
        #top{
            padding: 40% 0 0% 0%;
            margin-bottom: 20px;
            h1{
                text-align: left;
            }
        }
    }
}
