#artikler{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .artikel{
        margin:10px 10px 0 0;
        :first-child{
            min-height: 250px;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            h1{
                margin-top: 0;
                text-align: left;
            }

        }
    }
}
