body {
  height: 100%;
}

#om {
  padding: 0;
  min-height: 85vh;

  img {
    width: 100%;
    height: 400px;
  }

  .text {
    padding: 20px 0;
    color: #000;

    h1 {
      font-size: 70px;
      text-align: center;
    }

    p {
      text-align: center;
      width: 80%;
      font-size: 20px;
      margin: 0 auto;
    }
  }
}

@media only screen and (max-width: 600px) {
  #om {
    img {
      height: 300px;
    }

    .text {
      h1 {
        font-size: 40px;
      }

      p {
        width: 90%;
        font-size: 15px;
      }
    }
  }
}