/*------------------------ Programs ------------------------*/
body {
  min-height: 100vh;
}

.programs-container {
  background: #255877;
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  padding: 0 10%;
  padding-bottom: 20px;
  min-height: 80vh;

  .img-wrapper {
    margin-top: 20px;
    background-size: cover;
    height: 200px;
    border-radius: 0 20px 0 0;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    border: 1px solid #fff;
    border-bottom: transparent;

    &:hover + div,
    &:hover {
      -webkit-transform: scale(1.03);
      -moz-transform: scale(1.03);
      -ms-transform: scale(1.03);
      -o-transform: scale(1.03);
      transform: scale(1.03);
      background-color: #fff;
      color: #255877;
      cursor: pointer;
    }
  }

  .programs-title-container {
    border: 1px solid #fff;
    padding: 15px 0 15px 20px;
    border-radius: 0 0 0 20px;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;

    &:hover {
      background-color: #fff;
      color: #255877;
      cursor: pointer;
    }

    h3 {
      font-size: 1.4em;
    }
  }
}

.program-container {
  background: #255877;
  padding: 20px 0;
}
.title {
  text-align: center;
  font-size: 4em;
  text-transform: uppercase;
  margin-top: 15px;
  color: #fff;
}

.program-info-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  padding: 30px 10%;

  .img-wrapper {
    margin-top: 20px;
    background-size: cover;
    height: 270px;
    border-radius: 20px 0 20px 0;
  }

  .description {
    margin-top: 1em;
    font-size: 1.35em;
    text-align: justify;

    h3,
    h4 {
      margin-bottom: 20px;
    }
  }

  .podcasts {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    overflow: auto;
    height: 75vh;
    border-bottom: 3px solid #fff;

    h1 {
      margin-top: 5px;
      font-size: 2em;
      font-weight: 100;
      line-height: 0.83;
      color: #fff;
    }

    .plyr--audio .plyr__controls {
      margin: 10px 0;
      background: #1c232c;
      border: 1px solid #4ad8f5;
      color: #fff;
    }

    .plyr--audio .plyr__progress--buffer,
    .plyr--audio .plyr__volume--display {
      background: rgb(68, 73, 87);
    }
  }
}

@media only screen and (max-width: 1010px) {
  .programs-container {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }
}

@media only screen and (max-width: 600px) {
  html {
    overflow: auto;
  }

  .programs-container {
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    padding: 0 0%;
  }

  .program-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    padding: 0 5%;

    .podcasts {
      overflow: visible;
    }
  }
}
