/* 320px (iPhone) */
@media screen and (max-width:320px) {
}
/* 480px (WVGA - Low End Windows Phone) */
@media screen and (max-width:1199px) {
	.wrapper { background: #f3f5f8; height: 640px; }
	.iphone { display: none; }
	.fluid-white { display: none; }
	.wp2, .wp4, .wp5, .light-box { margin-bottom: 30px; }
	.legals { text-align: center; margin: 0; padding: 0; }
	.credit { text-align: center; }
}
/* xGA iPad */
@media screen and (max-width:1024px) {
	.wp3 { background-position: 50px 0; }
	.swag { background-attachment: scroll; }
	.subscribe { background-attachment: scroll; }
}
/* 1200px (Small Desktop, Netbook) */
@media screen and (max-width:1280px) {
	.wp3 { background-position: 50px 0; }
}

@media screen and (max-width:767px) {
	.podcastF{
    background: #141c27;
    padding: 0vh 0 3.8vh 0;
    }
    .img{
    margin-bottom: 10px;
    }
    
    .podcastH{
        background-image: url(../img/podcastH.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 80% 50%;
        padding: auto 0;
    }
    
    .podcastF h2{
    padding: 14vh 0 14vh 0;
    }
    
    
}


/* Bootstrap 990px Breakpoint to 480px */
@media screen and (min-width:992px) and (max-width:1199px) {
	.iphone { display: none; }
	.fluid-white { display: none; }
	.wrapper { background: #f3f5f8; height: 540px; }
	.wp2, .wp4, .wp5, .light-box { margin-bottom: 30px; }
	.legals { text-align: center; margin: 0; padding: 0; }
	.credit { text-align: center; }
    
    .cd-primary-nav-trigger { display: inline-block;}
    
    .salah{
        display: none;
    }
    .salahButton{display: block;}
    .salahMobil{display: block;}
    
    .main-nav {
        float: left;
        margin-top: 15px;
        margin-left: 25px;
    }
    
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }

    span.text-content {
      font-size: 240%;
      float: left;
      height: 300px;
      top: 0;
      width: 294px;
    }
    
    .logo{
        grid-column: 1/3;
        grid-row: 1/3;
    }
    
    .infoText{
    font-size: 100%;
}

}

@media only screen and (min-width:481px) and (max-width: 991px) {
    
    .cd-primary-nav-trigger { display: inline-block;}
    .cd-secondary-nav{
        display: none;
    }
    

    span.text-content {
      font-size: 400%;
      float: left;
      height: 300px;
      top: 0;
      width: 628px;
    }

    .profil img{
        width: 100%;
        height: auto;
        }

    .sound li{
        width: 100%;
    }
    
    .salah1 li{
        display: inline;
    }
    .salah{
        display: none;
    }
    footer {
        background-color: #242830;
        padding: 20px 0 30px;
    }
    
    .os{
    top: 10%;
    }
    .mission{
    top: 10%;
    }   
    
    .pic{
    display: block;
    }

    .pic1{
    display: none;
    }
    
    .stor-text{
        font-size: 420%;
    }
    @keyframes typing {
    from { width: 0% }
    to { width: 50% }
}
    
    .logo{
        grid-column: 1/3;
        grid-row: 1/3;
    }
    
    .img{
        margin-bottom: 10px;
    }
    
    .overlay{
    padding-top: 20%;
    }
    
    .overlay i{
    font-size: 350%;
    }

    .salahButton{display: block;}
    .salahMobil{display: block;}
}
@media only screen and (min-width:0px) and (max-width:480px){
    
    .headline{
    font-size: 128%;
    margin-top: 50px;
    }
    .cd-primary-nav-trigger { display: inline-block;}
    .cd-secondary-nav{display: none}
    
    .overlay-effect .img i { font-size: 50px; }
    
    .overlay-effect .overlay a.expand {bottom: 45%;}
    
    .effects .img { margin-bottom: 50px;}
    
    .profil img{
        width: 100%;
        height: auto;
    
    }
    
    input[type=range] {
        display: none;
        width: 70%;
        margin-left: 45%;
        margin-top: 25%;
    }
    
    .inner img{
        width: 340px;
        margin-top: -190px;
    }
    
    .pic{
    display: none;
    }

    .pic1{
    display: block;
    }
    
    .pic1 img{
    width: 100%;
    }
    
    .container-p{
        margin-left: 12%;
	}
    
    .compact{
        display: block;
    }
    
    .full{
      display: none;  
    }
    
    .salah1 li{
        display: inline;
    }
    .salah{
        display: none;
    }
    
    
    
    .cd-intro{
        padding: 0;
    }
    
    .hero { 
        background:linear-gradient(rgba(41, 52, 67, 0.48), rgba(41, 52, 67, 0.48)), url('../img/hero-bgM.jpg');
        background-repeat: no-repeat;
        background-position: 100% 10%;
        padding: 0 0 20px 0;
    }
    
    .lille{
        display: block;
        color: #fff;
        padding: 25vh 0 0 0;
        text-transform: uppercase;
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;        
        letter-spacing: 2px;
    }
    
    .lyt{
        display: block;
        font-size: 200%;   
    }
    .via{
        display: block;
        font-size: 150%;
    }
    
    .app{
        display: block;
        color: #fff;
        background-color: #4AD8F5;
        font-size: 600%;
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
        margin-top: 30px;
    }
    
    .podcastF{
    background: #141c27;
    float: none;
    padding-top: 0;
    }
    
    .podcastF h2{
    padding: 8vh 0 8vh 0;
}
    
    .podcast.col-md-12{
        margin-left: 60px;
        padding: 0;
    }
    .col-md-6{
        padding: 0;
    }
    .container{
        padding-left: 42px;
        padding-right: 0px;
    }
    
    .logo{
        grid-column: 1/3;
        grid-row: 1/3;
        width: 4rem;
    }
    
    .podcastH{
        background-image: url(../img/podcastH.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .stor{display: none;}
    
    .btn:link,
    .btn:visited,
    input[type=submit] {
    display: inline-block;
    margin-left: 28%;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    }
    
    .omOs{
        padding-left: 0;
        padding-right: 0;
    }
    
    .mLogo{
        display: block;
        width: 80%;
        margin-top: 10%;
        margin-bottom: 50px;
        margin-left: 20px;
    }
    .os{
        top:15%;
    }
    .mission{
        top:15%;
    }
    
    .os{font-size: 120%;}
    .mission{font-size: 120%;}
    

    .salahButton{display: block;}
    .salahMobil{display: block;}
    
}
    
