// General CSS
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  &::before, &::after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  color: #fff;
  background-image: linear-gradient(to right bottom, #293443, #161b24);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 2 * 4vw);
}

section{
  padding: 0 140px;
}

.mobile{
  display: none;
}
// General CSS end

//top navigationen
header{

  width: 100%;
  nav{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10px 60px 10px;
    justify-items: center;
    width: 100%;
    background-color: #3f4c5e;

    ul{
      list-style: none;
      list-style-image: none;
    }

    .main-nav{
      float: right;
      font-size: 16px;
      grid-column: 8/13;
      grid-row: 2;
      
      li{
        float: left;
        margin-right: 60px;
        margin-top: 4%;
        
        a{
          text-decoration: none;
          color: #fff;
        }

        a:hover{
          padding-bottom: 2px;
          border-bottom: solid #4AD8F5 2px;
        }
      }
    }
    .salah{
      float: left;
      grid-column: 1/6;
      grid-row: 2;

      li{
        border: #fff solid 1.5px;
        border-radius: 50%;
        width: 60px;
        float: left;
        margin-right: 20px;
        text-align: center;
        padding: 17px 0;

        h3{
          font-size: 0.8em;
        }
      }
    }

    .logo{
      width: 80px;
      margin: 0 auto;
      grid-column: 6/8;
      grid-row: 1;
    }
  }
}
/*
//Hero sektion
#hero{
  background: linear-gradient(rgba(40, 57, 80, 0.67), rgba(40, 57, 80, 0.67)), url('../img/hero-bg.jpg') no-repeat center center;
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
  height: 85vh;
  background-position: 20% 0%;
  .title{
    text-transform: uppercase;
    font-size: 7em;
    margin-left: 8%;
    padding-top: 15%;
  }

  .hørt{
    font-size: 1.2em;
    color: #4AD8F5;
  }
}
*/
//Seneste podcast
.podcast{
  padding-top: 20px;

  .podcast-header{
    font-size: 2em;
    text-align: center;

    .mike{
      width: 30px;
    }
  }
  .latest{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 16px;
    
    .podcast-episode{
      overflow: hidden;
      margin: 20px 0;
      border-bottom: 1px solid #fff;
      border-radius: 20px;
      background-color: #4AD8F5;
      .top-part{
        border-radius: 20px 20px 0 0;
        -webkit-background-size: cover; 
        -moz-background-size: cover; 
        -o-background-size: cover; 
        background-size: cover;
        padding: 25px 0 85px 10px;

        img{
          height: 20px;
        }
      }

      .play-button{
        background-color: #293443;
        color: #fff;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: relative;
        top: -25px;
        left: 250px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        border: 2px solid #fff;

        i {
          font-size: 1.5em;
          -webkit-animation: zoomIn 500ms forwards;
          -o-animation: zoomIn 500ms forwards;
          animation: zoomIn 500ms forwards;
          -webkit-transition: all 300ms;
          -moz-transition: all 300ms;
          -ms-transition: all 300ms;
          -o-transition: all 300ms;
          transition: all 300ms;
        }
      }

      .play-button:hover {
        border: 2px solid #293443;
      }
      .play-button:hover i{
        color: #293443;
      }

      .play-button:active i, i:active{
        -webkit-animation: zoomOut 500ms forwards;
        -o-animation: zoomOut 500ms forwards;
        animation: zoomOut 500ms forwards;
      }

      p{
        -webkit-transition: all 500ms;
        -moz-transition: all 500ms;
        -ms-transition: all 500ms;
        -o-transition: all 500ms;
        transition: all 500ms;
        position: relative;
        margin: 0 10px;
        -webkit-animation: fadeOut 500ms forwards;
        -o-animation: fadeOut 500ms forwards;
        animation: fadeOut 500ms forwards;
      }
      .player-placeholder{
        -webkit-transition: all 500ms;
        -moz-transition: all 500ms;
        -ms-transition: all 500ms;
        -o-transition: all 500ms;
        transition: all 500ms;
        -webkit-animation: fadeOut 500ms forwards;
        -o-animation: fadeOut 500ms forwards;
        animation: fadeOut 500ms forwards;
      }
      .active{
        -webkit-animation: fadeIn 500ms forwards;
        -o-animation: fadeIn 500ms forwards;
        animation: fadeIn 500ms forwards;
      }
      .plyr--full-ui{
        margin-top: -19px;
        .plyr__controls{
          border-top: 2px solid #fff;
          background: rgba(40, 57, 80, 0);
          color: #fff;
        }

        .plyr__menu{
        }
      }

    }
   
  }
}

.article{
  background-color: #1a89b8;
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-rows: 100px 1fr 1fr;
  grid-gap: 20px;
  .article-first{
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-column-gap: 20px;
    
    div{
      background-color: #fff;
      height: 250px;
      display: flex;
    }
    .background{
      display: flex;
      width: 300px;
      background: linear-gradient(to right,rgba(33, 140, 189, 0.297),rgb(255, 255, 255)),url(../img/toppen.JPG);
      background-size: cover;
      background-position: center;
      
      h1{
        width: 350px;
        font-size: 3.5em;
        align-self: flex-end;
      }

    }
        p{
          text-align: right;
          color: #000;
          font-family: 'quicksand';
          font-size: 3em;
        }
  }
  .article-second{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    
    div{
      background-color: #fff;
      height: 250px;
    }
  }
}

//Om os
.om-os{
  background-image: linear-gradient(rgba(80, 80, 80, 0.84), rgba(80, 80, 80, 0.84)), url("../img/omBackground.jpg");
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 80px;

  .om-os-content{
    .y-video{
      width: 600px;
      margin: 0 auto;
    }
    .om-os-text{
      margin-top: 20px;
      text-align: center;

      h2{
        font-size: 3em;
      }
      p{
        margin: 0 auto;
        width: 600px;
        font-size: 1.4em;
      }

    }
  }
}

footer{
  background-color: #161b24;
  position: absolute;
  padding: 20px 20px 0px 20px;
  width: 100%;
  
  p{
    font-size: 1.4em;
    position: relative;
    left: 20px;
  }
  a{
    position: relative;
    float: right;
    top: -20px;

    i{
     font-size: 1.6em;
     color: #4AD8F5;
     border: #4AD8F5 solid 1px;
     border-radius: 50%;
     padding: 10px 15px;
    }
  }
  
}

