// General CSS
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  &::before, &::after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-image: linear-gradient(to right bottom, #293443, #161b24);
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #fff;

}

section{
  padding: 0 80px;
}

.mobile{
  display: none;
}
// General CSS end

//top navigationen
header{

  width: 100%;
  nav{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10px 60px 10px;
    justify-items: center;
    width: 100%;
    background-color: #3f4c5e;

    ul{
      list-style: none;
      list-style-image: none;
    }

    .main-nav{
      float: right;
      font-size: 16px;
      grid-column: 8/13;
      grid-row: 2;
      
      li{
        float: left;
        margin-right: 60px;
        margin-top: 4%;
        
        a{
          -webkit-transition: border 150ms;
          -moz-transition: border 150ms;
          -ms-transition: border 150ms;
          -o-transition: border 150ms;
          transition: border 150ms;
          text-decoration: none;
          color: #fff;
          border-bottom: solid transparent 2px;
          padding-bottom: 2px;
          -webkit-border-radius: 0 0 2px 2px;
          -moz-border-radius: 0 0 2px 2px;
          border-radius: 0 0 2px 2px;
        }

        a:hover{
          padding-bottom: 2px;
          border-bottom: solid #4AD8F5 2px;
        }
      }
    }
    .salah{
      float: left;
      grid-column: 1/6;
      grid-row: 2;

      li{
        border: #fff solid 1.5px;
        border-radius: 50%;
        width: 60px;
        float: left;
        margin-right: 20px;
        text-align: center;
        padding: 17px 0;

        h3{
          font-size: 0.8em;
        }
      }
    }

    .logo{
      width: 80px;
      margin: 0 auto;
      grid-column: 6/8;
      grid-row: 1;
    }
  }
}

//Hero sektion
#hero{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 20px;

  .titel{
    grid-column: 1 / -1;
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
  }
  .article-content{
    grid-row: 2 / 4;

    .visual{
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      flex-direction: row-reverse;
      padding: 20px;
      width: 100%;
      margin-right: 20px;
      height: 310px;
      background-repeat: no-repeat;
      background-size: cover;
    }

    h1{
      text-align: left;
      font-weight: 400;
      font-size: 40px;
      margin: 0;
    }

    .info{  
      width: 100%;
      
      h2{
        font-weight: 400;
        font-size: 10px;
        padding: 15px 0;

        span{
          font-weight: 300;
          color: #b4b4b4;
        }
      }

      p{
        font-weight: 200;
        font-size: 20px;
      }
    }
  }
  .article-little-content{
    grid-row: 2 / 4;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 20px;

    .article-top, .article-bottom{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 10px;
    }
    .visual{
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      flex-direction: row-reverse;
      padding: 20px;
      width: 100%;
      margin-right: 20px;
      height: 200px;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .info{  
      width: 100%;
      h1{
        text-align: left;
        font-weight: 400;
        font-size: 30px;
      }
      
      h2{
        font-weight: 400;
        font-size: 10px;
        padding: 15px 0;

        span{
          font-weight: 300;
          color: #b4b4b4;
        }
      }

      p{
        font-weight: 200;
        font-size: 12px;
      }
    }
  }
}

//Seneste podcast
.podcast{
  background-color: #354050;
  padding-top: 20px;

  .podcast-header{
    font-size: 2em;
    text-align: center;

    .mike{
      width: 30px;
    }
  }
  .latest-podcasts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 40px;
    
    .podcast-episode{
      overflow: hidden;
      margin: 20px 0;
      border-bottom: 1px solid #293443;
      border-radius: 5px;
      background-color: #4AD8F5;
      .top-part{
        background: linear-gradient(rgba(40, 57, 80, 0.67), rgba(40, 57, 80, 0.67));
        border-bottom: 2px solid #fff;
        -webkit-background-size: cover;
        -moz-background-size: cover; 
        -o-background-size: cover; 
        background-size: cover;
        padding: 25px 0 30px 10px;

        img{
          height: 20px;
        }
      }
      .bottom-part {
        height: 45%;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
      }

      .play-button{
        z-index: 1;
        background-color: #293443;
        grid-column: 4/5;
        grid-row: 1/2;
        margin-top: -26px;
        margin-right: 15px;
        color: #fff;
        grid-column: 3/4;
        grid-row: 1/2;
        width: 50px;
        height: 50px;
        justify-self: right;
        border-radius: 50%;
        margin-right: 20px;
        margin-top: -25px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        border: 2px solid #fff;

        i {
          font-size: 1.5em;
          -webkit-animation: zoomIn 500ms forwards;
          -o-animation: zoomIn 500ms forwards;
          animation: zoomIn 500ms forwards;
          -webkit-transition: all 300ms;
          -moz-transition: all 300ms;
          -ms-transition: all 300ms;
          -o-transition: all 300ms;
          transition: all 300ms;
        }
      }

      .play-button:hover {
        border: 2px solid #293443;
      }
      .play-button:hover i{
        color: #293443;
      }

      .play-button:active i, i:active{
        -webkit-animation: zoomOut 500ms forwards;
        -o-animation: zoomOut 500ms forwards;
        animation: zoomOut 500ms forwards;
      }

      .player-text {
        grid-area: 1 / 1 / lastline / lastline;
        -webkit-transition: color 300ms;
        -moz-transition: color 300ms;
        -ms-transition: color 300ms;
        -o-transition: color 300ms;
        transition: color 300ms;
        position: relative;
        margin: 0 10px;
        align-self: center;
      }
      .player-placeholder{
        opacity: 0;
        align-self: center;
        grid-area: 1 / 1 / lastline / lastline;
        background-color: #4AD8F5;
        -webkit-transition: all 500ms;
        -moz-transition: all 500ms;
        -ms-transition: all 500ms;
        -o-transition: all 500ms;
        transition: all 500ms;
        -webkit-animation: slideOutDown 500ms forwards;
        -o-animation: slideOutDown 500ms forwards;
        animation: slideOutDown 500ms forwards;
      }
      .active{
        opacity: 1;
        -webkit-animation: slideInUp 500ms forwards;
        -o-animation: slideInUp 500ms forwards;
        animation: slideInUp 500ms forwards;
      }

      .plyr--full-ui{
        .plyr__controls{
          background: rgba(40, 57, 80, 0);
          color: #fff;
        }

      }
      .hide{
        color: #4AD8F5;
      }
    }
   
  }
}

//Om os
.om-os{
  background-image: linear-gradient(rgba(80, 80, 80, 0.84), rgba(80, 80, 80, 0.84)), url("../img/omBackground.jpg");
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 80px;

  .om-os-content{
    .y-video{
      width: 600px;
      margin: 0 auto;
    }
    .om-os-text{
      margin-top: 20px;
      text-align: center;

      h2{
        font-size: 3em;
      }
      p{
        margin: 0 auto;
        width: 600px;
        font-size: 1.4em;
      }

    }
  }
}

footer{
  background-color: #161b24;
  position: absolute;
  padding: 20px 20px 0px 20px;
  width: 100%;
  
  p{
    font-size: 1.4em;
    position: relative;
    left: 20px;
  }
  a{
    position: relative;
    float: right;
    top: -20px;

    i{
     font-size: 1.6em;
     color: #4AD8F5;
     border: #4AD8F5 solid 1px;
     border-radius: 50%;
     padding: 10px 15px;
    }
  }
  
}

@media only screen and (max-width: 600px) {
  .salah {
    display: none;
  }
  .main-nav{
    display: none;
  }

  #hero {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
    padding: 0;


    .article-content {
      grid-row: auto;
      background-color: #3f4c5e;
      padding: 10px;
    }

    .article-little-content {
      grid-row: auto;
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-row-gap: 20px;

      .article-top{
        background-color: #3f4c5e;
        padding: 10px;
      }

      .article-bottom{
        background-color: #3f4c5e;
        padding: 10px;
      }
    }
  }
  .podcast{
    padding: 0 10px;
    .latest-podcasts {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-column-gap: 40px;
    }
  }
  .om-os{
    padding: 20px 0;
    .om-os-content{
      .y-video{
        width: 90%;
        margin: 0 auto;
      }
      .om-os-text{
        margin-top: 20px;
        text-align: center;

        h2{
          font-size: 3em;
        }
        p{
          margin: 0 auto;
          width: 600px;
          font-size: 1.4em;
        }

      }
    }
  }
}




