// General CSS
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  &::before, &::after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-image: linear-gradient(to right bottom, #293443, #161b24);
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  color: #fff;

}

section{
  padding: 0 80px;
}

.mobile{
  display: none;
}
// General CSS end

//top navigationen
header{

  width: 100%;
  nav{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10px 60px 10px;
    justify-items: center;
    width: 100%;
    background-color: #3f4c5e;

    ul{
      list-style: none;
      list-style-image: none;
    }

    .main-nav{
      float: right;
      font-size: 16px;
      grid-column: 8/13;
      grid-row: 2;
      
      li{
        float: left;
        margin-right: 60px;
        margin-top: 4%;
        
        a{
          -webkit-transition: border 150ms;
          -moz-transition: border 150ms;
          -ms-transition: border 150ms;
          -o-transition: border 150ms;
          transition: border 150ms;
          text-decoration: none;
          color: #fff;
          border-bottom: solid transparent 2px;
          padding-bottom: 2px;
          -webkit-border-radius: 0 0 2px 2px;
          -moz-border-radius: 0 0 2px 2px;
          border-radius: 0 0 2px 2px;
        }

        a:hover{
          padding-bottom: 2px;
          border-bottom: solid #4AD8F5 2px;
        }
      }
    }
    .salah{
      float: left;
      grid-column: 1/6;
      grid-row: 2;

      li{
        border: #fff solid 1.5px;
        border-radius: 50%;
        width: 60px;
        float: left;
        margin-right: 20px;
        text-align: center;
        padding: 17px 0;

        h3{
          font-size: 0.8em;
        }
      }
    }

    .logo{
      width: 80px;
      margin: 0 auto;
      grid-column: 6/8;
      grid-row: 1;
    }
  }
}

//Hero sektion
#hero{
  padding: 20px 0;

  h1{
    margin: 0;
  }
  .article-content{
    display: flex;
    justify-content: center;
    align-content: center;
    
    .visual{
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      flex-direction: row-reverse;
      padding: 20px;
      width: 50%;
      margin-right: 20px;
      height: 300px;

      h1{
        text-align: left;
      }
    }
    .info{
      width: 200px;
    }
  }
}

//Seneste podcast
.podcast{
  padding-top: 20px;

  .podcast-header{
    font-size: 2em;
    text-align: center;

    .mike{
      width: 30px;
    }
  }
  .latest-podcasts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 40px;
    
    .podcast-episode{
      overflow: hidden;
      margin: 20px 0;
      border-bottom: 1px solid #293443;
      border-radius: 5px;
      background-color: #4AD8F5;
      .top-part{
        background: linear-gradient(rgba(40, 57, 80, 0.67), rgba(40, 57, 80, 0.67));
        border-bottom: 2px solid #fff;
        -webkit-background-size: cover;
        -moz-background-size: cover; 
        -o-background-size: cover; 
        background-size: cover;
        padding: 25px 0 85px 10px;

        img{
          height: 20px;
        }
      }
      .bottom-part {
        display: grid;
        grid-template-rows: 40px 1fr 30px;
        grid-template-columns: repeat(3, 1fr);
      }

      .play-button{
        background-color: #293443;
        grid-column: 4/5;
        grid-row: 1/2;
        margin-top: -26px;
        margin-right: 15px;
        color: #fff;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        border: 2px solid #fff;

        i {
          font-size: 1.5em;
          -webkit-animation: zoomIn 500ms forwards;
          -o-animation: zoomIn 500ms forwards;
          animation: zoomIn 500ms forwards;
          -webkit-transition: all 300ms;
          -moz-transition: all 300ms;
          -ms-transition: all 300ms;
          -o-transition: all 300ms;
          transition: all 300ms;
        }
      }

      .play-button:hover {
        border: 2px solid #293443;
      }
      .play-button:hover i{
        color: #293443;
      }

      .play-button:active i, i:active{
        -webkit-animation: zoomOut 500ms forwards;
        -o-animation: zoomOut 500ms forwards;
        animation: zoomOut 500ms forwards;
      }

      .player-text {
        align-self: center;
        grid-area: 2 / 1 / 2 / -1;
        -webkit-transition: color 300ms;
        -moz-transition: color 300ms;
        -ms-transition: color 300ms;
        -o-transition: color 300ms;
        transition: color 300ms;
        position: relative;
        margin: 0 10px;
      }
      .player-placeholder{
        opacity: 0;
        align-self: center;
        grid-area: 2 / 1 / 2 / -1;
        background-color: #4AD8F5;
        -webkit-transition: all 500ms;
        -moz-transition: all 500ms;
        -ms-transition: all 500ms;
        -o-transition: all 500ms;
        transition: all 500ms;
        -webkit-animation: slideOutDown 500ms forwards;
        -o-animation: slideOutDown 500ms forwards;
        animation: slideOutDown 500ms forwards;
      }
      .active{
        opacity: 1;
        -webkit-animation: slideInUp 500ms forwards;
        -o-animation: slideInUp 500ms forwards;
        animation: slideInUp 500ms forwards;
      }

      .plyr--full-ui{
        .plyr__controls{
          background: rgba(40, 57, 80, 0);
          color: #fff;
        }

      }
      .hide{
        color: #4AD8F5;
      }
    }
   
  }
}

//Seneste artikler

.articles{
  background-color: #1a89b8;
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-gap: 20px;

    h1 {
      margin-left: 10px;
      -webkit-transition: all 200ms;
      -moz-transition: all 200ms;
      -ms-transition: all 200ms;
      -o-transition: all 200ms;
      transition: all 200ms;
    }

    h3 {
      margin-left: 10px;
      font-size: 2em;
      -webkit-transition: all 200ms;
      -moz-transition: all 200ms;
      -ms-transition: all 200ms;
      -o-transition: all 200ms;
      transition: all 200ms;
      margin-bottom: 15px;
    }
    h4 {
      text-align: center;
      font-size: 1.5em;
      opacity: 0;
      -webkit-transition: all 200ms;
      -moz-transition: all 200ms;
      -ms-transition: all 200ms;
      -o-transition: all 200ms;
      transition: all 200ms;
      -webkit-transform: translateY(100px);
      -moz-transform: translateY(100px);
      -ms-transform: translateY(100px);
      -o-transform: translateY(100px);
      transform: translateY(100px);

      i {
        display: inline;
      }
}

  .latest-articles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    div{
      height: 250px;
      display: flex;
      overflow: hidden;
      justify-content: flex-end;
      flex-direction: column;

      &:hover h3, &:hover h4, &:hover h1{
        opacity: 1;
        -webkit-transform: translateY(-30px);
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -o-transform: translateY(-30px);
        transform: translateY(-30px);
      }

      h1{
        text-align: left;
        color: #000;
        font-size: 3.5em;

      }
    }
  }
}

//Om os
.om-os{
  background-image: linear-gradient(rgba(80, 80, 80, 0.84), rgba(80, 80, 80, 0.84)), url("../img/omBackground.jpg");
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 80px;

  .om-os-content{
    .y-video{
      width: 600px;
      margin: 0 auto;
    }
    .om-os-text{
      margin-top: 20px;
      text-align: center;

      h2{
        font-size: 3em;
      }
      p{
        margin: 0 auto;
        width: 600px;
        font-size: 1.4em;
      }

    }
  }
}

footer{
  background-color: #161b24;
  position: absolute;
  padding: 20px 20px 0px 20px;
  width: 100%;
  
  p{
    font-size: 1.4em;
    position: relative;
    left: 20px;
  }
  a{
    position: relative;
    float: right;
    top: -20px;

    i{
     font-size: 1.6em;
     color: #4AD8F5;
     border: #4AD8F5 solid 1px;
     border-radius: 50%;
     padding: 10px 15px;
    }
  }
  
}



