h1{
    font-size: 4em;
    font-family: 'quicksand';
    font-weight: 700;
    text-align: center;
    margin: 1em 0 1em 0;
}

html {
    height:100vh;
}
.body {
    display: flex;
    flex-direction: column;
}
.upload_form {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-auto-flow: column;
    grid-template-rows: repeat(8, 1fr);

    input, label{
        grid-column: 2 / 2;
        caret-color: transparent;
        background-color: inherit;
        cursor: text;
        padding: 15px;
        box-shadow: 2px 2px 8px rgba(black, .3);
        margin: 1em;
        border: 1px solid #fff;
        border-radius: 5px;
        color: #fff;
        font-size: 15px;
        -webkit-transition: all 0.65s;
        -moz-transition: all 0.65s;
        -ms-transition: all 0.65s;
        -o-transition: all 0.65s;
        transition: all 0.65s;
        overflow: hidden;

        p, i{
            cursor: pointer;
            -webkit-transition: all 0.65s;
            -moz-transition: all 0.65s;
            -ms-transition: all 0.65s;
            -o-transition: all 0.65s;
            transition: all 0.65s;
            display: inline-block;
        }

        i{
            -webkit-transform: translateX(-250%);
            -moz-transform: translateX(-250%);
            -ms-transform: translateX(-250%);
            -o-transform: translateX(-250%);
            transform: translateX(-250%);
        }
        p{
            margin-left: 10px;
            display: inline-block;
            transform: translateX(-35px);
        }


    }
    label{
        cursor: pointer;
    }

    input:focus{
        background-color: rgba(0, 0, 0, 0.16);
    }

    label:hover p, label:hover i, label:focus p, label:focus i{
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);

    }

    ::placeholder{
        color: #fff;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }

    :focus, :hover{
        display: inline-block;
        color: white;
    }
    :focus::placeholder, :hover::placeholder{
        opacity: 0;
        -webkit-transform: translateX(50px);
        -moz-transform: translateX(50px);
        -ms-transform: translateX(50px);
        -o-transform: translateX(50px);
        transform: translateX(50px);
    }

    input[type='file']:hover+ label, input[type='file']:focus+ label{
        color: #fff;
        background-color: transparent;
        opacity: 1;
    }

    textarea{
        grid-column: 2 / 2;
        caret-color: white;
        overflow: hidden;
        margin: 1em;
        -webkit-transition: all 0.65s;
        -moz-transition: all 0.65s;
        -ms-transition: all 0.65s;
        -o-transition: all 0.65s;
        transition: all 0.65s;
        font-size: 15px;
        padding: 10px;
        color: #fff;
        background: rgba(0,0,0,0);
        border: 1px solid #fff;
        border-radius: 5px;
    }


    #hostname{
        -webkit-animation-delay: 200ms;
        -moz-animation-delay: 200ms;
        -o-animation-delay: 200ms;
        animation-delay: 200ms;
    }

    #guestname{
        -webkit-animation-delay: 400ms;
        -moz-animation-delay: 400ms;
        -o-animation-delay: 400ms;
        animation-delay: 400ms;
    }

    #description{
        height: 50px;
        opacity: 0;
        animation: flipInX 1s, height 1.4s forwards;
        -webkit-animation-delay: 600ms;
        -moz-animation-delay: 600ms;
        -o-animation-delay: 600ms;
        animation-delay: 600ms;
    }
    @-webkit-keyframes height {
        80%{height: 50px; opacity: 1}
        100% {height: 75px; opacity: 1}
    }


    .picture{
        -webkit-animation-delay: 800ms;
        -moz-animation-delay: 800ms;
        -o-animation-delay: 800ms;
        animation-delay: 800ms;
        #picture{
            display: none;
        }
    }

    .audioPath{
        -webkit-animation-delay: 1000ms;
        -moz-animation-delay: 1000ms;
        -o-animation-delay: 1000ms;
        animation-delay: 1000ms;

        #audioPath{
            display: none;
        }
    }

    #submit{
        grid-area: 8 / 2 / span 1 / span 1;
        cursor: pointer;
        -webkit-animation-delay: 1200ms;
        -moz-animation-delay: 1200ms;
        -o-animation-delay: 1200ms;
        animation-delay: 1200ms;
    }
}

$particles: 100;
$width: 1000;
$height: 1000;

// Create the explosion...
$box-shadow: ();
$box-shadow2: ();
@for $i from 0 through $particles {
    $box-shadow: $box-shadow,
    random($width)-$width / 2 + px
    random($height)-$height / 1.2 + px
    hsl(random(360), 100, 50);
    $box-shadow2: $box-shadow2, 0 0 #fff
}
@mixin keyframes ($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }

    @-moz-keyframes #{$animationName} {
        @content;
    }

    @-o-keyframes #{$animationName} {
        @content;
    }

    @-ms-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animation-delay ($settings) {
    -moz-animation-delay: $settings;
    -webkit-animation-delay: $settings;
    -o-animation-delay: $settings;
    -ms-animation-delay: $settings;
    animation-delay: $settings;
}

@mixin animation-duration ($settings) {
    -moz-animation-duration: $settings;
    -webkit-animation-duration: $settings;
    -o-animation-duration: $settings;
    -ms-animation-duration: $settings;
    animation-duration: $settings;
}

@mixin animation ($settings) {
    -moz-animation: $settings;
    -webkit-animation: $settings;
    -o-animation: $settings;
    -ms-animation: $settings;
    animation: $settings;
}

@mixin transform ($settings) {
    transform: $settings;
    -moz-transform: $settings;
    -webkit-transform: $settings;
    -o-transform: $settings;
    -ms-transform: $settings;
}



.pyro > .before, .pyro > .after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: $box-shadow2;
    @include animation((1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards));
}

.pyro > .after {
    @include animation-delay((1.25s, 1.25s, 1.25s));
    @include animation-duration((1.25s, 1.25s, 6.25s));
}

@include keyframes(bang) {
    to {
        box-shadow:$box-shadow;
    }
}

@include keyframes(gravity)  {
    to {
        @include transform(translateY(200px));
        opacity: 0;
    }
}

@include keyframes(position) {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%
    }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
    }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
    }
}

.upload_form-a {
    padding: 0 5em 0 0 ;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(7, 1fr);


    input, label{
        caret-color: transparent;
        background-color: transparent;
        padding: 15px;
        box-shadow: 2px 2px 8px rgba(black, .3);
        margin: 1em;
        border: 1px solid #fff;
        border-radius: 5px;
        color: #fff;
        font-size: 15px;
        -webkit-transition: all 0.65s;
        -moz-transition: all 0.65s;
        -ms-transition: all 0.65s;
        -o-transition: all 0.65s;
        transition: all 0.65s;
        overflow: hidden;

        p, i{
            -webkit-transition: all 0.65s;
            -moz-transition: all 0.65s;
            -ms-transition: all 0.65s;
            -o-transition: all 0.65s;
            transition: all 0.65s;
            display: inline-block;
        }

        i{
            -webkit-transform: translateX(-200%);
            -moz-transform: translateX(-200%);
            -ms-transform: translateX(-200%);
            -o-transform: translateX(-200%);
            transform: translateX(-200%);
        }
        p{
            -webkit-transform: translateX(-20%);
            -moz-transform: translateX(-20%);
            -ms-transform: translateX(-20%);
            -o-transform: translateX(-20%);
            transform: translateX(-20%);
        }


    }

    input:focus{
        background-color: rgba(0, 0, 0, 0.16);
    }

    label:hover p, label:hover i, label:focus p, label:focus i{
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);

    }


    ::placeholder{
        color: #fff;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }

    :focus, :hover{
        display: inline-block;
        color: white;
    }
    :focus::placeholder, :hover::placeholder{
        opacity: 0;
        -webkit-transform: translateX(250px);
        -moz-transform: translateX(250px);
        -ms-transform: translateX(250px);
        -o-transform: translateX(250px);
        transform: translateX(250px);
    }

    textarea{
        grid-area: 1 / 2 / lastline / lastline;
        caret-color: white;
        overflow: hidden;
        margin: 1em;
        -webkit-transition: all 0.65s;
        -moz-transition: all 0.65s;
        -ms-transition: all 0.65s;
        -o-transition: all 0.65s;
        transition: all 0.65s;
        font-size: 15px;
        padding: 10px;
        color: #fff;
        background: rgba(0,0,0,0);
        border: 1px solid #fff;
        border-radius: 5px;
    }


    #hostname{
        -webkit-animation-delay: 200ms;
        -moz-animation-delay: 200ms;
        -o-animation-delay: 200ms;
        animation-delay: 200ms;
    }

    #guestname{
        -webkit-animation-delay: 400ms;
        -moz-animation-delay: 400ms;
        -o-animation-delay: 400ms;
        animation-delay: 400ms;
    }

    #description{
        opacity: 0;
        animation: slideInRight 1s, height 1.4s forwards;
        -webkit-animation-delay: 800ms;
        -moz-animation-delay: 800ms;
        -o-animation-delay: 800ms;
        animation-delay: 800ms;
    }
    @-webkit-keyframes height {
        80%{opacity: 1}
        100% {opacity: 1}
    }


    #picture{
        display: none;
    }

    #submit{
        grid-area: 7 / 1 / span 1 / span 1;
        cursor: pointer;
        -webkit-animation-delay: 1200ms;
        -moz-animation-delay: 1200ms;
        -o-animation-delay: 1200ms;
        animation-delay: 1200ms;
    }
}
