h1{
    font-size: 4em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 0 0 0.5em 0;
}

html {
    min-height:100vh;
}

.upload_form {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-auto-flow: column;

    input, label{
        grid-column: 2 / 2;
        caret-color: transparent;
        background-color: inherit;
        cursor: text;
        padding: 15px;
        box-shadow: 2px 2px 8px rgba(black, .3);
        margin: 1em;
        border: 1px solid #fff;
        border-radius: 5px;
        color: #fff;
        font-size: 15px;
        -webkit-transition: all 0.65s;
        -moz-transition: all 0.65s;
        -ms-transition: all 0.65s;
        -o-transition: all 0.65s;
        transition: all 0.65s;
        overflow: hidden;

        p, i{
            cursor: pointer;
            -webkit-transition: all 0.65s;
            -moz-transition: all 0.65s;
            -ms-transition: all 0.65s;
            -o-transition: all 0.65s;
            transition: all 0.65s;
            display: inline-block;
        }

        i{
            -webkit-transform: translateX(-250%);
            -moz-transform: translateX(-250%);
            -ms-transform: translateX(-250%);
            -o-transform: translateX(-250%);
            transform: translateX(-250%);
        }
        p{
            margin-left: 10px;
            display: inline-block;
            -webkit-transform: translateX(-35px);
            -moz-transform: translateX(-35px);
            -ms-transform: translateX(-35px);
            -o-transform: translateX(-35px);
            transform: translateX(-35px);
        }


    }

    label{
        cursor: pointer;
    }

    input:focus{
        background-color: rgba(0, 0, 0, 0.16);
    }

    label:hover p, label:hover i, label:focus p, label:focus i{
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);

    }

    ::placeholder{
        color: #fff;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }

    :focus, :hover{
        display: inline-block;
        color: white;
    }
    :focus::placeholder, :hover::placeholder{
        opacity: 0;
        -webkit-transform: translateX(50px);
        -moz-transform: translateX(50px);
        -ms-transform: translateX(50px);
        -o-transform: translateX(50px);
        transform: translateX(50px);
    }

    input[type='file']:hover+ label, input[type='file']:focus+ label{
        color: #fff;
        background-color: transparent;
        opacity: 1;
    }

    textarea{
        grid-column: 2 / 2;
        caret-color: white;
        overflow: hidden;
        margin: 1em;
        -webkit-transition: all 0.65s;
        -moz-transition: all 0.65s;
        -ms-transition: all 0.65s;
        -o-transition: all 0.65s;
        transition: all 0.65s;
        font-size: 15px;
        padding: 10px;
        color: #fff;
        background: rgba(0,0,0,0);
        border: 1px solid #fff;
        border-radius: 5px;
    }


    #hostname{
        -webkit-animation-delay: 200ms;
        -moz-animation-delay: 200ms;
        -o-animation-delay: 200ms;
        animation-delay: 200ms;
    }

    #guestname{
        -webkit-animation-delay: 400ms;
        -moz-animation-delay: 400ms;
        -o-animation-delay: 400ms;
        animation-delay: 400ms;
    }

    #programId {
        width: 100%;
        background-color: transparent;
        color: white;
        height: 100%;
        -webkit-appearance: none;
        border: none;
        font-size: 15px;

    }
    #programName{
        -webkit-animation-delay: 800ms;
        -moz-animation-delay: 800ms;
        -o-animation-delay: 800ms;
        animation-delay: 800ms;
    }

    #description{
        height: 50px;
        opacity: 0;
        animation: flipInX 1s, height 1.4s forwards;
        -webkit-animation-delay: 600ms;
        -moz-animation-delay: 600ms;
        -o-animation-delay: 600ms;
        animation-delay: 600ms;
    }
    @-webkit-keyframes height {
        80%{height: 50px; opacity: 1}
        100% {height: 75px; opacity: 1}
    }


    .audioPath{
        -webkit-animation-delay: 1000ms;
        -moz-animation-delay: 1000ms;
        -o-animation-delay: 1000ms;
        animation-delay: 1000ms;
        #audioPath{
            display: none;

            &:invalid ~ .fa-check{
                opacity: 0;
            }
            &:valid ~ .fa-check{
                opacity: 1;
                float: right;
            }
        }
    }

    #submit{
        grid-area: 8 / 2 / span 1 / span 1;
        cursor: pointer;
        -webkit-animation-delay: 1200ms;
        -moz-animation-delay: 1200ms;
        -o-animation-delay: 1200ms;
        animation-delay: 1200ms;
    }
}

.upload_form-a {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(8, 1fr);
    height: 80vh;


    input, label{
        caret-color: transparent;
        background-color: transparent;
        padding: 15px;
        box-shadow: 2px 2px 8px rgba(black, .3);
        margin: 1em;
        border: 1px solid #fff;
        border-radius: 5px;
        color: #fff;
        font-size: 15px;
        -webkit-transition: all 0.65s;
        -moz-transition: all 0.65s;
        -ms-transition: all 0.65s;
        -o-transition: all 0.65s;
        transition: all 0.65s;
        overflow: hidden;

        p, i{
            -webkit-transition: all 0.65s;
            -moz-transition: all 0.65s;
            -ms-transition: all 0.65s;
            -o-transition: all 0.65s;
            transition: all 0.65s;
            display: inline-block;
        }

        i{
            -webkit-transform: translateX(-200%);
            -moz-transform: translateX(-200%);
            -ms-transform: translateX(-200%);
            -o-transform: translateX(-200%);
            transform: translateX(-200%);
        }
        p{
            margin-left: 10px;
            display: inline-block;
            -webkit-transform: translateX(-35px);
            -moz-transform: translateX(-35px);
            -ms-transform: translateX(-35px);
            -o-transform: translateX(-35px);
            transform: translateX(-35px);
        }


    }

    label{
        cursor: pointer;
    }

    input:focus{
        background-color: rgba(0, 0, 0, 0.16);
    }

    label:hover p, label:hover i, label:focus p, label:focus i{
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);

    }


    ::placeholder{
        color: #fff;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }

    :focus, :hover{
        display: inline-block;
        color: white;
    }
    :focus::placeholder, :hover::placeholder{
        opacity: 0;
        -webkit-transform: translateX(50px);
        -moz-transform: translateX(50px);
        -ms-transform: translateX(50px);
        -o-transform: translateX(50px);
        transform: translateX(50px);
    }

    textarea{
        grid-area: 1 / 2 / lastline / lastline;
        caret-color: white;
        overflow: hidden;
        margin: 1em;
        -webkit-transition: all 0.65s;
        -moz-transition: all 0.65s;
        -ms-transition: all 0.65s;
        -o-transition: all 0.65s;
        transition: all 0.65s;
        font-size: 15px;
        padding: 10px;
        color: #fff;
        background: rgba(0,0,0,0);
        border: 1px solid #fff;
        border-radius: 5px;
    }


    #hostname{
        -webkit-animation-delay: 200ms;
        -moz-animation-delay: 200ms;
        -o-animation-delay: 200ms;
        animation-delay: 200ms;
    }

    #guestname{
        -webkit-animation-delay: 400ms;
        -moz-animation-delay: 400ms;
        -o-animation-delay: 400ms;
        animation-delay: 400ms;
    }

    #description{
        opacity: 0;
        animation: slideInRight 1s, height 1.4s forwards;
        -webkit-animation-delay: 800ms;
        -moz-animation-delay: 800ms;
        -o-animation-delay: 800ms;
        animation-delay: 800ms;
    }
    @-webkit-keyframes height {
        80%{opacity: 1}
        100% {opacity: 1}
    }

    .picture {
        display: flex;
        align-items: center;

        #picture{
            display: none;

            &:invalid ~ .fa-check{
                opacity: 0;
            }
            &:valid ~ .fa-check{
                opacity: 1;
                float: right;
            }
        }
    }

    #submit{
        grid-area: 8 / 1 / span 1 / span 1;
        cursor: pointer;
        -webkit-animation-delay: 1200ms;
        -moz-animation-delay: 1200ms;
        -o-animation-delay: 1200ms;
        animation-delay: 1200ms;
    }
}



