
.upload_form {
    padding: 5em;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    input{
        cursor: text;
        padding: 15px;
        width: 30%;
        box-shadow: 2px 2px 8px rgba(black, .3);
        margin: 1em;
        background: rgba(0,0,0,0);
        border: 1px solid #fff;
        border-radius: 5px;
        color: #fff;
        font-size: 15px;
        -webkit-transition: all 0.65s;
        -moz-transition: all 0.65s;
        -ms-transition: all 0.65s;
        -o-transition: all 0.65s;
        transition: all 0.65s;
    }
    
    ::placeholder{
        color: #fff;
    }

    :focus{
        background: #fff;
        color: black;
    }

    input[type=submit]:hover{
        cursor: nesw-resize;
        background: #fff;
        color: black;
    }

    #audioPath::after{
        position: relative;
        content: 'Her skal lydefilen uploads';
        left: 200px;
        
    }

    input[type=file]:hover{

    }

    input[type=file]:hover::after{
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }



    textarea{
        -webkit-transition: all 0.65s;
        -moz-transition: all 0.65s;
        -ms-transition: all 0.65s;
        -o-transition: all 0.65s;
        transition: all 0.65s;
        font-size: 15px;
        padding: 10px;
        width: 30%;
        color: #fff;
        background: rgba(0,0,0,0);
        border: 1px solid #fff;
        border-radius: 5px;
    }



}


